body{
    background-color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#contenedor-formulario {
    display: flex;
    flex-direction: column;
    border: 2px;
    align-items: center;
}
.logo{
    width: 15%;
    align-self: center;
}
.ingreso{
    border-radius: 30px;
}
.botones{
    font-weight: bold;
}
#contenedor-registro{
    position: absolute;
}